 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Strange name? Not really. "Bandits" refers
                       to multiarmed bandit algorithms, and "better" to more
                       reliable and more robust algorithms. But we like the Robin Hood
                       connotations too.</p>
                    <p>Better Bandits was founded by Maarten Speekenbrink,
                      Associate Professor of
                      Mathematical Psychology at University College London (UCL).
                      By developing mathematical models of human learning and
                      decision making, his research forms the foundation of
                      more human-like artificial intelligence.
                      A widely-published and -cited scientist,
                      Maarten brings a broad range of skills and
                      expertise to the table.
                      <!-- You can find out more on Maarten at his
                      <a href="https://www.ucl.ac.uk/speekenbrink-lab">lab
                      website</a>, where you will also find links
                      to a variety of other online presence, his
                      <a href="https://scholar.google.co.uk/citations?user=I37Yg2kAAAAJ">Google scholar</a>
                      profile, and his <a href="https://www.ucl.ac.uk/pals/research/experimental-psychology/person/maarten-speekenbrink/">UCL profile UCL profile</a></p> -->
                </div>
            </div>
        </div>
    </section>
