
    <!-- Portfolio Grid Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 text-left col-lg-offset-2">
                  <p>We leverage artificial
                    intelligence, machine learning, and data science
                    to help your business or organization
                    <strong>explore</strong> opportunities,
                    <strong>adapt</strong> to current demands,
                    and <strong>optimize</strong> your potential.</p>
                  <p>We specialize in the development and application of robust
                    bandit algorithms and related methods for adaptive design.
                    These techniques will help you to learn which options are
                    most effective and capitalizing on that knowledge without
                    delay.</p>
                  <p>We are experts in machine learning and cognitive science, leveraging knowledge
                    of how humans solve complex tasks to improve methods that
                    allow machines to do the same. Through our expertise in
                    human learning and decision making, we also offer advice
                    on a wide range of related topics, such as behavior change,
                    preference elicitation, data analysis, psychometrics,
                    and market research.</p>
              </div>
            </div>
        </div>
    </section>
